.track {
  &::before {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.thumb {
  height: 0.8rem;
  width: 0.8rem;
  background-color: white;
  border-width: 0;
  box-shadow: var(--mantine-shadow-md);
}

.bar {
  background-color: white;
}

.timeText {
  color: var(--mantine-color-dark-0);
}
