.card {
  border-radius: var(--mantine-radius-lg);
  border: 1px solid
    light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-4));
}

.content {
  background: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}
