@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-userButtonPopoverCard {
  background-color: var(--mantine-color-dark-7);
  width: 15rem;
  padding: 0;
  padding-top: var(--mantine-spacing-md);
}

.cl-userPreview {
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}

.cl-userButtonPopoverActionButton {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
}

.cl-userButtonPopoverFooter {
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-xs);
}
