/*.item {
  background-color: light-dark(white, var(--mantine-color-dark-6));
  border: none;
  box-shadow: var(--mantine-shadow-xl);
}

.label,
.label p {
  font-weight: 600;
}

.content {
  padding: var(--mantine-spacing-xs);
}

.control[data-opened="true"] {
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}*/
