.track {
  border-radius: var(--mantine-radius-md);

  padding: calc(var(--mantine-spacing-sm) / 2);

  &[data-hoverable="true"]&:hover {
    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-5)
    );

    &[data-transparent="true"] {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .playButton {
      opacity: 1;
    }

    .thumbnail {
      filter: brightness(0.4);
    }
  }

  &:hover .button {
    opacity: 1;
  }

  &:hover .index {
    display: none;
  }

  @apply duration-75 ease-in-out;
}

.trackDuration {
  min-width: max-content;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));

  &[data-left="true"] {
    margin-left: auto;
  }
}

.trackTitle {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.trackAuthor {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
}

.thumbnail {
  border-radius: var(--mantine-radius-sm);
  position: absolute;
  top: 0;
  left: 0;

  @apply duration-100 ease-in-out transition-all;
}

.button {
  opacity: 0;

  @apply duration-75 ease-in-out transition-all ml-auto;
}

.playButton {
  color: white;
  opacity: 0;

  @apply duration-100 ease-in-out transition-all;
}

.playButton:hover {
  color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-1));
}

.dragHandle {
  padding-left: calc(var(--mantine-spacing-sm) / 2);
}
